/* These are a bunch of changes I've made to an existing theme, to make it better, in my opinion. */
/* Original fluent theme: https://github.com/TakosThings/Fluent-Discord */

/* Importing the very cool fluent base */
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);

/* Default settings */
:root {
	/* OrchidLight */
	--fluent-accent-hue-sat: 307, 55%;
	--fluent-accent-lightness: 49%;

	/* The colour text appears against the accent colour */
	--fluent-text-on-accent-color: 0, 0, 0;

	/* Ignore the gay */
	--fluent-acrylic-background: url(https://images2.alphacoders.com/129/1291151.png);
	--fluent-acrylic-background-blur: 2px;
	--fluent-acrylic-background-dimness: 60%;
	--fluent-acrylic-background-saturate: 50%;
	--fluent-guilds-icon-size: 40px;
}

/* Setting element */
.themed-qqoYp3[role$="tab"] {
	background-color: rgba(255, 255, 255, 0.03);
}

/* Settings title */
.header-2F5_LB[role$="button"] {
	margin-top: 10pt;
	background-color: rgba(0, 0, 0, 0.15);
}


/* Textbox placeholder text */
.placeholder-1rCBhr {
	color: rgba(255, 255, 255, 0.2) !important;
}

/* Textbox "{user} is typing..." */
/* I don't know how to move this back to the left, but I've made it more visible */
.typing-2J1mQU {
	align-items: start !important;
	align-content: start !important;
	text-align: left !important;
	margin-top: -8pt !important;
}
.typing-2J1mQU .typingDots-1Y8dki span.text-3S7XCz {
	align-items: start !important;
	align-content: start !important;
	text-align: left !important;
	font-size: 10pt !important;
	
	/* Background in case its obstructed */
	background-color: rgba(0, 0, 0, 0.3) !important;
	padding: 3pt 7pt 3pt 7pt !important;
	backdrop-filter: blur(2px);
	filter: contrast(120%);
}


/* Channel name selected highlight */
.name-28HaxV {
	color: rgba(255, 255, 255, 0.5) !important;
}
.selected-2TbFuo div a div .name-28HaxV {
	color: rgba(255, 255, 255, 1.0) !important;
}

/* Channel && DM background selected highlight */
li.channel-1Shao0[role$="listitem"] {
	background-color: rgba(255, 255, 255, 0) !important;
}
li.channel-1Shao0[role$="listitem"] div.selected-26oxtA {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Channel unread highlight */
.modeUnread-3Cxepe:has(.unread-36eUEm) div .link-1_kTxV[data-list-item-id^="channels__"][aria-label^="unread"] {
	background-color: hsla(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) + 25%),
		0.15
	) !important;
}
.modeUnread-3Cxepe:has(.unread-36eUEm) div .link-1_kTxV[data-list-item-id^="channels__"][aria-label^="unread"] .name-28HaxV {
	color: hsl(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) + 30%)
	) !important;
}


/* Categories */
/* Wish i could do better but i suck at CSS math */
.name-3BUDLf {
	color: hsl(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) + 35%)
	) !important;
}
.containerDefault-3TQ5YN {
	opacity: 80%;
}
.containerDefault-3TQ5YN:hover {
	opacity: 100%;
}


/* Server list */
ul[data-list-id^="guildsnav"] {
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.1);
}

/* Server icons && DM unread icons */
.wrapper-3kah-n {
	filter: saturate(105%);
}
.selected-1Drb7Z[data-list-item-id^="guildsnav"] {
	filter: saturate(130%);
}
.icon-3AqZ2e {
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
}


/* DM guildsnav unread icon badges */
.theme-dark .guilds-2JjMmN .listItem-3SmSlK .numberBadge-37OJ3S {
	background-color: hsl(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) + 20%)
	) !important;
	box-shadow: 0 0 4px 1.5px rgba(0, 0, 0, 0.8);
}
.lowerBadge-3j0ZAg .numberBadge-37OJ3S {
	color: var(--fluent-text-on-accent-color) !important;
}


/* Server "UNREAD" pill */
/* This fixes a Fluent bug where the unread pill wont show if your icon size is bigger than 40ish pixels */
.listItem-3SmSlK .pill-2RsI5Q {
	z-index: 2;
}


/* "Read all button" plugin support
   (I've spent hours on this. THIS WAS A NIGHTMARE)

   sizeMin-3Yqxk5 and button-ejjZWC are so annoying */
div .scroller-3X7KbA[dir$="ltr"] button {
	all: unset !important;
	background-color: hsla(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) - 20%),
		0.6
	) !important;
	color: hsl(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) + 40%)
	) !important;
	opacity: 1%;
	font-weight: 600 !important;
	font-size: 7.5pt !important;
	padding: 2pt !important;
	width: 90% !important;
	user-select: all !important;
	text-decoration: none;
	cursor: pointer !important;
	margin-left: 2pt !important;
	margin-right: 2pt !important;
}
div .scroller-3X7KbA[dir$="ltr"] button:hover {
	background-color: hsla(
		var(--fluent-accent-hue-sat),
		calc(var(--fluent-accent-lightness) + 20%),
		0.6
	) !important;
}


/* Text replace */
div .scroller-3X7KbA[dir$="ltr"] button .contents-3NembX {
    visibility: hidden;
    position: relative;
}
div .scroller-3X7KbA[dir$="ltr"] button .contents-3NembX::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Read All";
}


/* DMs header thing */
.privateChannelsHeaderContainer-1UWASm {
	background-color: rgba(0, 0, 0, 0.1);
	margin-left: 5pt;
	padding-top: 4pt !important;
	padding-bottom: 5pt !important;
	backdrop-filter: blur(4px);
	margin-bottom: 2px;
}

/* DM channel separation */
li.channel-1Shao0[role$="listitem"] {
	border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
	padding: 0px;
}

/* DM channel text highlight */
a.link-39sEB3 div .content-66wMin div div div {
	color: rgba(255, 255, 255, 0.7);
}

/* DM channel text unread highlight */
a.link-39sEB3[aria-label^="unread"] div .content-66wMin div div div {
	color: white;
	font-weight: 500;
}

/* DM channel unread highlight */
.interactive-26HRN_.interactive-iyXY_x .link-39sEB3[aria-label^="unread"] {
	background-color: rgba(255, 255, 255, 0.1) !important;
}


/* Blur under selected */
.containerDefault-YUSmu3:hover, /* Hovered channel */
.selected-2TbFuo                /* Selected channels */
{
	backdrop-filter: blur(4px);
}


/* Channel line remover */
/* Tweak from the vending machine themself */
@font-face {
    font-family: "Dashless";
    src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
}
[data-list-item-id^=channels___], /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=resultChannel], /* channel name in search */
[class^=channelMention], /* channel mentions in chat */
[class^=placeholder][class*=slateTextArea] /* "Send a message in #blah" */
{
    font-family: "Dashless", var(--font-primary);
}
